/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* common utility styles */
body{
    background-color:#F3F1FF;
    font-family: 'Poppins', sans-serif;
}
main{
    display: flex;
    justify-content: center;
}
.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
}

/* top players style  */
.section-title{
    color: #562EFF;
    font-size: 24px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.player img {
    width: 56px;
    height: 56px;
}
.player{
    display: flex;
    align-items: center;
}
.player-name{
    margin-left: 16px;
}